@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

* {
    margin: 0;
}

html {
font-family: 'Lato', sans-serif;
}

.center {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
}

.header {
    background-color: #222;
        
}

.header-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 75px;
}

.item-left {
    display: flex;
    gap: 41px;
}

.item-right {
    display: flex;
    align-items: center;
    gap: 33px;
}

.menu-button {
    display: flex;
    align-items: center;
}

.menu-button:hover .menu{
    display: block;
}




.menu {
    position: fixed;
    top: 75px;
    right: 0;
    width: 232px;
    height: 634px;
    background-color: #FFF;
    display: none;
    z-index: 1;
}

.menu-button:hover .menu {
    display: block;
}

.menu-title {
    margin-top: 32px;
    margin-left: 33px;
    margin-bottom: 24px;
    color: #000;
    font-size: 14px;
    font-weight: 700;
    line-height: normal;
}

.cart {
    position: relative;
}

.cart::after {
    position: absolute;
    top: -6.5px;
    left: 19px;
    height: 19px;
    width: 19px;
    border-radius: 50%;
    background-color: #F16D7F;
    content: '5';
    text-align: center;
    color: #FFF;
    font-size: 12px;
    font-weight: 400;
    line-height: normal;
}


.menu-items {
    margin-left: 32px;
    margin-bottom: 20px;
}

.menu-subtitle {
    color: #F16D7F;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
}

.menu-items__categories {
    display: flex;
    flex-direction: column;
    margin-top: 12px;
    margin-left: 21.5px;
    gap: 11px;
}

.menu-item-categories__text {
    color: #6F6E6E;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    background-color: #fff;
    text-decoration: none;
}


.intro {
    background-color: #F1E4E6;
}

.intro-items {
    display: flex;
    align-items: center;
    height: 764px;
    gap: 64px;
}

.title {
    padding-left: 16px;
    border-left: 12px solid #F16D7F;
}

.title-text-top {
    color: #222;
    font-size: 48px;
    font-weight: 900;
}

.title-text-bottom {
    color: #222;
    font-size: 32px;
    font-weight: 700;
}

.title-bottom__color {
    color: #F16D7F;
    font-weight: 700;
}

.categories {
    margin-top: 65px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.categories-item{
    position: relative;
}

.img {
    height: 100%;
}

.img-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 22, 22, 0.70);
}

.categories-item-big {
    position: relative;
    grid-column: span 3;
}

.categories-item-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}

.categories-item-text-color {
    color: #F16D7F;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.products {
    margin-top: 96px;
}

.products-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
}

.products-title-title {
    color: #222;
    font-size: 30px;
    font-weight: 400;
}


.products-title-text {
    font-size: 14px;
    color: #9F9F9F;
    font-weight: 400;

}

.product-items {
    margin-top: 48px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.product-item {
    background-color: #F8F8F8;
    max-width: 360px;
}

.product-item__img {
    position: relative;
}

.product-item__img::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(58, 56, 56, 0.86);
    display: none;
}

.product-item__img:hover::after {
    display: block;
}

.product-item__button {
    display: none;
    width: 139px;
    height: 44px;
    justify-content: center;
    align-items: center;
    gap: 11px;
    border: 2px solid white;
    color: white;
    background-color: inherit;
    position: absolute;
    top: 50%;
    left: 50%;  
    transform: translate(-50%, -50%);
    z-index: 1; 
}

.product-item__img:hover .product-item__button {
    display: flex;
}


.product-item-text {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 24px 16px;    
}

.product-item-text__title {
    color: #000;
    font-size: 13px;
    font-weight: 400;
}

.product-item-text__text {
    color: #5D5D5D;
    font-size: 14px;
    font-weight: 300;
    max-width: 314px;
}

.product-item-text__price {
    color: #F16D7F;
    font-size: 16px;
    font-weight: 400;
}

.products-button {
    display: flex;
    justify-content: center;
    margin-top: 48px;
}

.button {
    background-color: #FFF;
    width: 212px;
    height: 48px;
    border-color: #FF6A6A;
    color: #F26376;
    font-size: 16px;
    font-weight: 400;
}

.button:hover {
    background-color: #F16D7F;
    color: #FFF;
}

.services {
    margin-top: 95px;
    background-color: #222224;
    height: 341px;
    display: flex;
    align-items: flex-end
}

.services-items {
    display: flex;
    gap: 30px;
}

.services__item {
    width: 360px;
    text-align: center;
    padding-bottom: 104px;
}

.services-item__title {
    padding-top: 19px;
    color: #FBFBFB;
    font-size: 19.96px;
    font-weight: 400;
}

.services-item__text {
    padding-top: 16px;
    color: #FBFBFB;
    font-size: 13.972px;
    font-weight: 300;
    padding-left: 23px;
    padding-right: 23px;
}


.subscribe{
    background-image: url(../img/subscribe-img.png);
    background-position: center;
    background-size: cover;
    height: 448px;
}

.subscribe-items {
    display: flex;

    gap: 327px;
}

.subscribe-item {
    max-width: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 30px;
    padding-top: 97px;
}

.subscribe-left-item__text {
    color: #222224;
    font-size: 20px;
    font-weight: 400;
}

.subscribe-right-item-text {
    padding-top: 53px;
}


.subscribe-item__title {
    color: #222224;
    font-size: 24px;
    font-weight: 700;
    line-height: 167.2%;

}

.subscribe-item__subtitle {
    color: #222224;
    font-size: 18px;
    font-weight: 400;
    line-height: 167.2%;
}

.form-subscribe {
    display: flex;
}

.left-form {
    padding: 0;
    width: 256px;
    height: 49px;
    background-color: #E1E1E1;
    border: none;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

.subscribe-input{
    width: 170px;
    height: 36px;
    background-color: #E1E1E1;
    border: none;
    color: #222224;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    padding-left: 22px;
    padding-top: 7px;
}

.right-form {
    width: 100px;
    height: 49px;
    background-color: #F16D7F;
    border: none;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
    display: flex;
    align-items: center;
}

.subscribe-submit {
    padding: 0;
    width: 85px;
    height: 36px;
    background-color: #F16D7F;
    border: none;
    margin-left: auto;
    margin-right: auto;

    
    color: #FFF;
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
}

.footer {
    background-color: #222224;
}

.footer-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 79px;
}

.footer-info {
    width: 332px;
    height: 19px;
}

.footer-info-text {
    color: #FBFBFB;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
}

.footer-social {
    display: flex;
    gap: 7.29px;
}

.footer-social__button {
    width: 32px;
    height: 32px;
    background-color: #FFF;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: red;
}

.footer-social__button:hover {
    background-color: #F16D7F;
}

.footer-social__button:hover .icon path {
    fill: white;
}


@media screen and (max-width: 1439px) {
    .center {
        max-width: 736px;
    }

    .header-items {
        height: 74px;
    }

    .intro-items{
        gap: 39px;
        height: 100%;
    }

    .title-text-top {
        font-size: 44px;
    }

    .title-text-bottom{
        font-size: 24px;
    }

    .categories {
        gap: 20px;
        justify-content: center;
    }

    .categories-item-text {
        width: 100%;
    }

    .products {
        margin-top: 110px;
    }

    .products-title {
        gap: 3.3px;
    }

    .product-items {
        margin-top: 73px;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    }

    .products-button {
        margin-top: 33px;
    }
    
}

@media screen and (max-width: 767px) {

    .center{
        max-width: 375px;
        padding-left: 16px;
        padding-right: 16px;
        text-align: center;
    }

    .center-v2 {
        padding-left: 8px;
        padding-right: 8px;
    }

    .hidden-image {
        display: none;
    }

    .intro {
        height: 363px;
    }

    .intro-items {
        justify-content: center;
    }

    .title-text-top {
        font-size: 38px;
    }

    .title-text-bottom {
        font-size: 20px;
    }

    .categories {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 32px;
    }

    .product-items {
        display: flex;
        flex-direction: column;
    }


    .categories-item {
        max-width: 100%;
        max-height: 100%;
        text-align: center;
    }

    .categories-item-big {
        max-height: 111px;
    }

    .products {
        margin-top: 64px;
    }

    .product-items {
        margin-top: 64px;
    }

    .products-button {
        margin-top: 40px;
    }
}