@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

* {
    margin: 0;
}

html {
font-family: 'Lato', sans-serif;
}

.center {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
}

.header {
    background-color: #222;
        
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 75px;
}

.item-left {
    display: flex;
    gap: 41px;
}

.item-right {
    display: flex;
    gap: 33px;
}

.intro {
    background-color: #F1E4E6;
}

.intro-items {
    display: flex;
    align-items: center;
    height: 764px;
    gap: 64px;
}

.title {
    padding-left: 16px;
    border-left: 12px solid #F16D7F;
}

.title-text-top {
    color: #222;
    font-size: 48px;
    font-weight: 900;
}

.title-text-bottom {
    color: #222;
    font-size: 32px;
    font-weight: 700;
}

.title-bottom__color {
    color: #F16D7F;
    font-weight: 700;
}

.categories {
    margin-top: 65px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.categories-item{
    position: relative;
}

.categories-item-img {
    /* position: relative; */
}

.img-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 22, 22, 0.70);
}

.categories-item-big {
    position: relative;
    grid-column: span 3;
}

.categories-item-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}

.categories-item-text-color {
    color: #F16D7F;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.products {
    margin-top: 96px;
}

.products-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
}

.products-title-title {
    color: #222;
    font-size: 30px;
    font-weight: 400;
}


.products-title-text {
    font-size: 14px;
    color: #9F9F9F;
    font-weight: 400;

}

.product-items {
    margin-top: 48px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.product-item {
    background-color: #F8F8F8;
    max-width: 360px;
}

.product-item-text {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 24px 16px;    
}

.product-item-text__title {
    color: #000;
    font-size: 13px;
    font-weight: 400;
}

.product-item-text__text {
    color: #5D5D5D;
    font-size: 14px;
    font-weight: 300;
    max-width: 314px;
}

.product-item-text__price {
    color: #F16D7F;
    font-size: 16px;
    font-weight: 400;
}

.products-button {
    display: flex;
    justify-content: center;
    margin-top: 48px;
    margin-bottom: 48px;
}

.button {
    background-color: #FFF;
    width: 212px;
    height: 48px;
    border-color: #FF6A6A;
    color: #F26376;
    font-size: 16px;
    font-weight: 400;
}

@media screen and (max-width: 1439px) {
    .center {
        max-width: 736px;
    }

    .menu {
        height: 74px;
    }

    .intro-items{
        gap: 39px;
        height: 100%;
    }

    .title-text-top {
        font-size: 44px;
    }

    .title-text-bottom{
        font-size: 24px;
    }

    .categories {
        gap: 20px;
        justify-content: center;
    }

    .categories-item-text {
        width: 100%;
    }

    .products {
        margin-top: 110px;
    }

    .products-title {
        gap: 3.3px;
    }

    .product-items {
        margin-top: 73px;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    }

    .products-button {
        margin-top: 33px;
    }
    
}

@media screen and (max-width: 767px) {

    .center{
        max-width: 375px;
        padding-left: 16px;
        padding-right: 16px;
        text-align: center;
    }

    .center-v2 {
        padding-left: 8px;
        padding-right: 8px;
    }

    .hidden-image {
        display: none;
    }

    .intro {
        height: 363px;
    }

    .intro-items {
        justify-content: center;
    }

    .title-text-top {
        font-size: 38px;
    }

    .title-text-bottom {
        font-size: 20px;
    }

    .categories {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 32px;
    }

    .product-items {
        display: flex;
        flex-direction: column;
    }


    .categories-item {
        max-width: 100%;
        max-height: 100%;
        text-align: center;
    }

    .categories-item-big {
        max-height: 111px;
    }

    .products {
        margin-top: 64px;
    }

    .product-items {
        margin-top: 64px;
    }

    .products-button {
        margin-top: 40px;
    }
}